doctype html
html
  head
    title= pagetitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/javascripts/menu.js")
    script(src="/javascripts/datestring.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #menu
      section#menuitems
        .menubutton
          h1.menubutton(onclick="menuToggle('hide')") &#9776;
        p
        a(href="/about")
          h3.sectrule &rarr; Return  
    #container(onmouseup="menuToggle('hide')")
      #header
        a(href="/admin")
          h1(style="padding-left: 0") Control Panel
        .headspace
        h1.menubutton(onclick="menuToggle('show')") &#9776;
        h1.placeholder &#9776;
        a(href="/profile")
          h2.navitem &rarr; Menu
      #panel.left
        section#sections
        
      #mainbody
        block mainbody
      #panel.right
      #footer
        p Copyright &copy; 2020 ASSAB &amp; BMPM 